cart
  line-height: 1.8em
  width: 100%
  max-width: $cartWidth
  display: table

  h1
    .expand-summary
      display: block;
      position: relative;
      top: 1px;
      left: 4px;
      z-index: 2;
      width: 16px;
      height: 16px;
      display: none

  lineitems
  lineitem
    width: 100%
    position: relative
    display: block

  lineitems
    padding-bottom: 20px

  lineitem
    display: table

    & > div
      width: 100%

    & > *
      float: left;

      & > *
        float: left;

  quantity-select-control
  .promo
  .promo-row
  .invoice-line
    width: 100%
    display: table
    position: relative

  quantity-select-control
    .selectize-input
      max-width: 60px

  .product-quantity-container
    width: 45px !important
    display: inline-block
    margin-top: -3px
    float: right !important

    .item
      left: 9px

  .product-price-container
    margin-right: 20px

  .product-description
    line-height: 1.25em
    padding-top: 3px
    padding-left: 8px
    display: inline-block
    vertical-align: top
    width: 90%

    +below(400px)
      font-size: .8em

    +below(375px)
      font-size: .7em

    .product-name
      font-weight: bold
      display: block

    > *:last-child
      font-size: 12px
      line-height: 1.2rem
      margin-top: 0

      +below(400px)
        font-size: .8em

  .product-image-container
    width: 15%
    position: relative
    // top: -20px

    img:nth-child(n+2)
      position: absolute
      width: 100%
      top: 0;
      left: 0;

  .product-text-container
    width: 43%

  .product-price-container
    line-height: 1.25em
    width: 22%
    text-align: right
    float: right !important
    margin-top: 3px

  .product-list-price
    color: $themeErrorColor
    font-size: .9em

  .product-slug
    display: none

  .product-delete
    cursor: pointer
    width: 20%
    float: right !important
    text-align: right
    font-size: 0.8em
    position: absolute
    right: 0
    top: 1.5rem

  .product-currency
    display: inline

  .product-list-price
    text-decoration: line-through;

  .promo.promo
    height: 40px

    & > *
      vertical-align: middle
      display: table-cell

    & > div:first-child
      width: 40%

    & > div:nth-child(2)
      width: 60%

    .promo-row

      & > *
        float: left;

      promocode
        width: 75%
        padding: 0

        input
          border-right: 0
          border-radius: 22px 0 0 22px
          background-color: transparent
          border-width: 2px !important
          padding: 0 15px
          transition: border-color 420ms ease-in-out, color 420ms ease-in-out
          height: 32px

      button
        position: relative
        width: 25%
        border-radius: 0 22px 22px 0
        border-width: 0
        font-size: 1em
        padding: 0
        transition: background-color 420ms ease-in-out
        top: 1px
        height: 32px

        span:last-child
          display: none

        &.notify
          animation: ripple-black 1.5s infinite

      &.green
        promocode
          input
            border-color: $themeAccentColor !important
            color: $themeAccentColor !important

        button
          background-color: $themeAccentColor !important

      &.red
        promocode
          input
            border-color: $themeErrorColor !important
            color: $themeErrorColor !important

        button
          background-color: $themeErrorColor !important

          span:first-child
            display: none

          span:last-child
            display: block

    .promo-message
      text-align: right !important

  .invoice-line
    height: 40px

    & > *
      vertical-align: middle
      display: table-cell

    & > div:first-child
      width:70%
      padding-right:5%

    & > div:last-child
      width: 30%

  .invoice-total
    font-weight: bold
    font-size: 1.1em

    .invoice-label
      font-size: 1.25em
      text-align: left

  .invoice-amount
    text-align: right
    font-weight: bold

