cart
checkout
checkout-card
checkout-shippingaddress
login
orders
profile
register
reset-password
reset-password-complete
shippingaddress
  color: $themeTextColor

  *:disabled
  .disabled
    opacity: 0.5

  input
    outline: none
    border: 0
    background: transparent

    &:-moz-placeholder
      color: $themeTextColor

    &::-moz-placeholder
      color: $themeTextColor

    &:-ms-input-placeholder
      color: $themeTextColor

    &::-webkit-input-placeholder
      color: $themeTextColor

  .input
    width: 100%
    display: block

    input[type=text]
    input[type=password]
      width: 100%
      height: $themeElementHeight
      font-size: 1em
      border-bottom: $themeInputBorderWidth solid
      border-color: $themeBorderColor
      border-width: $themeInputBorderWidth

  .error-message
  .error
    color: $errorColor

  .button
  button
    background-color: $themeButtonBGColor
    border-color: $themeButtonBorderColor
    color: $themeButtonColor
    text-align: center
    font-size: 1em
    padding: 0
    height: $themeElementHeight * 1.5
    padding: 0 $themeElementHeight
    cursor: pointer

    &.submit
    &[type=submit]
      background-color: $themeButtonBGColor
      border-color: $themeButtonBorderColor
      color: $themeButtonColor
      line-height: $themeElementHeight
      width: 100%

  input
  button
    outline: none

