// element dimensions
$elementHeight = 2em

// colors
$themeTextColor = #000
$themeAccentColor= #75DBCD // #28AFB0
$themeErrorColor = #F22469

$themeBorderColor = $themeTextColor

$themeButtonColor = $themeTextColor
$themeButtonBorderColor = $themeTextColor
$themeButtonBGColor = transparent

// cart
$cartWidth = 400px
