@require 'reeeset/src/reeeset.css'

@require 'settings'
@require 'font'

@require 'framework'
@require 'header'
@require 'hero'
@require 'list'

@require 'shop.js/lib/theme.css'
@require 'prismjs/themes/prism-okaidia.css'

@require 'getshopjs'

@require 'page-index'
@require 'page-test'

