@require 'reeeset/src/reeeset.css'

@require 'settings'
@require 'font'

@require 'framework'
@require 'inputs'
@require 'header'
@require 'hero'

@require 'shop.js'

@require 'prismjs/themes/prism-okaidia.css'

@require 'page-index'
