body
  width 100vw
  overflow-x hidden
  &.modal-lock
    overflow hidden !important
    width 100vw !important
    height 100vh !important

.block, section, header, footer
  position relative
  width 100vw
  text-align center
  box-sizing border-box

.block, section
  display table

.full
  background-size cover
  background-position center
  height 100vh
  width 100vw
  min-height 600px
  box-sizing border-box

.button, button, input[type=button], input[type=submit]
  padding 12px 28px
  cursor pointer
  display inline-block
  border 0

input
  border none
  padding .5em 1em
  box-sizing border-box
  height 42px

.content
  width 100vw
  max-width 1000px
  padding 20px
  margin-left auto
  margin-right auto
  margin-top 20px
  margin-bottom 20px
  display block
  text-align left
  box-sizing border-box
  position relative
  z-index 1
  &.narrow
    max-width 600px

.centered
  text-align center

.title
  text-align center

img
  max-width 100%

a
  text-decoration none

.hidden
  display none

.modal
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  background-color rgba(0,0,0,.8)
  overflow auto
  z-index 1000
  padding 80px 40px
  box-sizing border-box
  .content
    max-height 80vh
    margin-top 0
    margin-bottom 0
    padding 40px
    overflow auto
    top 40%
    transform translateY(-50%)
    max-width 400px
    width 100%

.modal-close-position
  position absolute
  right 20px
  top 20px
  cursor pointer
  font-size 1rem

blockquote
  padding 50px
  font-size 1.25em
  display inline-block
  position relative
  text-align left
  &:before
    content open-quote
    font-size 2rem
    line-height .05em
    vertical-align -.2em
  &:after
    content close-quote
    font-size 2rem
    line-height .05em
    vertical-align -.2em
  .attribution
    display block
    position absolute
    font-size .5em
    right 50px

.ui-loader
  display none !important


