body
  color: $textColor1
  background: linear-gradient($backgroundColor1, $backgroundColor2)
  min-height: 100vh

  .hero
  .full
    height: 105vh
    min-height: 600px

  pre[class*="language-"]
    margin: 0
    margin-bottom: 20px

  .list.list
    height: auto

    .content
      display: table
      padding: 0

    .info
      margin-bottom: 40px
      min-height: 0

      h2
        padding: 0 20px

      +below(800px)
        margin-right: 0px

    .image
      min-height: 0

    .info
      padding: 0 20px

