header
  width: 100%
  display: table
  top: 0
  left: 0
  opacity: .9
  z-index: 100

  nav
    &.right
      background-color: $accentColor1
      position: absolute
      top: 0
      right: 0
      transform: translate(120px, -80px) rotate(45deg)
      transform-origin: bottom left
      width: 300px

    &.buttons
      .button
        color: $textColor1
