#page-index
  #hero
    .title
      transform: translateY(52.5vh) translateY(-50%)

    h1
      display: inline-block

      &:before
        content: ''
        width:  80px
        height: 80px
        margin-left: -90px
        position: absolute
        display: block
        background-image: url('/img/logo.png')
        background-size: contain

  .example
    cart
    checkout
      max-width: 400px

      +below(800px)
        transform: translateX(50vw) translateX(-50%);

    cart
      float: right

      +below(800px)
        float: left

    checkout
      float: left
