body
  color: $textColor1
  background: linear-gradient($backgroundColor1, $backgroundColor2)
  min-height: 100vh

  .hero
  .full
    height: 105vh
    min-height: 600px

  .hero
    .content
      max-width: 600px

    .git-icons > *
      margin: .5em

    .button
    button
      margin-right: 4px

  .content
  .info
    & > button
    & > .button
      font-size: 1em
      color: $textColor1
      background-color: transparent
      border: 2px solid $textColor1

  .language
    overflow: auto
    width: 100%

  pre[class*="language-"]
    margin: 0
    margin-bottom: 20px

  .list.list
    height: auto

    .content
      display: table
      padding: 0

      & > h2
        margin: .5em

    .info
      margin-bottom: 40px
      min-height: 0

      +below(800px)
        margin-right: 0px

    .image
      min-height: 0
      overflow: auto
      padding: 0 20px

      & > *
        position: relative
        +below(800px)
          margin-left: -20px

    .info
      padding: 0 20px


footer
  margin-top: 100px

  .hanzo
    color: $textColor1
    display: block

    margin: 2em 0
    img
      height: 2.8em
      display: inline-block
      margin: 0 1em
    h1
      display: inline-block

