script.
  var images = {
    'red-shirt': '/img/red.png',
    'green-shirt': '/img/green.png',
  };

  var addRedShirt = function() {
    Shop.setItem('red-shirt', Shop.getItem('red-shirt').quantity + 1)
    return false
  }

  var addGreenShirt = function() {
    Shop.setItem('green-shirt', Shop.getItem('green-shirt').quantity + 1)
    return false
  }

cart(images='{ images }')
