extends _layout.pug

block title
  | #{site.title} - One Library For All Your Ecommerce Needs

block content
  #page-index
    section#hero.hero
      .content.title
        h1 Shop.js
        h4
          strong One Library For All Your Ecommerce Needs
        p Cosmic fugue rich in mystery, great turbulent clouds Orion's sword. Consciousness, star stuff harvesting star light the only home we've ever known muse about, culture permanence of the stars, Apollonius of Perga white dwarf. Euclid, rich in heavy atoms kindling the energy hidden in matter culture circumnavigated birth rogue cosmic ocean concept of the number one? At the edge of forever paroxysm of global death star stuff harvesting star light, Orion's sword tendrils of gossamer clouds are creatures of the cosmos hearts of the stars. Finite but unbounded. A mote of dust suspended in a sunbeam birth.
      // .content
      //   a.pre-order-button.button(href='#')
      //     span Try Now
    section.full.example1.list.right
      .content
        h2
          | Carts
        .info
          pre
            code.language-html
        .image
          include examples/_cart.pug
        // p(data-height="300",data-theme-id="28315",data-slug-hash="bqKGLb",data-default-tab="result",data-user="hanzo-io",data-embed-version="2",data-pen-title="Shop.js Example 1",class="codepen")
        //   | See the Pen
        //   a(href="https://codepen.io/hanzo-io/pen/bqKGLb/")
        //     | Shop.js Example 1
        //   | by Hanzo (
        //   a(href="http://codepen.io/hanzo-io")
        //     | @hanzo-io) on
        //   a(href="http://codepen.io")
        //     | CodePen.
        // script(async,src="https://production-assets.codepen.io/assets/embed/ei.js")

    section.full.example2.list.right
      .content
        h2
          | Checkout
        .info
          pre
            code.language-html
        .image
          include examples/_checkout.pug
        // p(data-height="300",data-theme-id="28315",data-slug-hash="bqKGLb",data-default-tab="result",data-user="hanzo-io",data-embed-version="2",data-pen-title="Shop.js Example 1",class="codepen")
        //   | See the Pen
        //   a(href="https://codepen.io/hanzo-io/pen/bqKGLb/")
        //     | Shop.js Example 1
        //   | by Hanzo (
        //   a(href="http://codepen.io/hanzo-io")
        //     | @hanzo-io) on
        //   a(href="http://codepen.io")
        //     | CodePen.
        // script(async,src="https://production-assets.codepen.io/assets/embed/ei.js")
