extends _layout.pug

block title
  | #{site.title} - One Library For All Your Ecommerce Needs

block content
  #page-index
    section#hero.hero
      .content.title
        h1 Shop.js
        h4
          strong Ecommerce UI components and framework powered by El.js and Hanzo
        .git-icons
          a(href='https://www.npmjs.com/package/shop.js')
            img(src='https://camo.githubusercontent.com/c3c18ca40e4bfd2c0fcce7ff42f2dbfbb37b30c6/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f762f73686f702e6a732e737667', alt='npm', data-canonical-src='https://img.shields.io/npm/v/shop.js.svg', style='max-width:100%;')
          |
          // a(href='https://travis-ci.org/hanzo-io/shop.js')
          //   img(src='https://camo.githubusercontent.com/a5f629ae4e4c6b19a38e3ed11a899ced161440e1/68747470733a2f2f696d672e736869656c64732e696f2f7472617669732f68616e7a6f2d696f2f73686f702e6a732e737667', alt='build', data-canonical-src='https://img.shields.io/travis/hanzo-io/shop.js.svg', style='max-width:100%;')
          // |
          a(href='https://david-dm.org/hanzo-io/shop.js')
            img(src='https://camo.githubusercontent.com/2b6cbef1b5faf6d556e5a27f48ea23392d0ec747/68747470733a2f2f64617669642d646d2e6f72672f68616e7a6f2d696f2f73686f702e6a732e737667', alt='dependencies', data-canonical-src='https://david-dm.org/hanzo-io/shop.js.svg', style='max-width:100%;')
          |
          a(href='http://badge.fury.io/js/shop.js')
            img(src='https://camo.githubusercontent.com/612894f9de350dfecc617880ac6e36352450598c/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f646d2f73686f702e6a732e737667', alt='downloads', data-canonical-src='https://img.shields.io/npm/dm/shop.js.svg', style='max-width:100%;')
          |
          a(href='https://github.com/hanzo-io/shop.js/blob/master/LICENSE')
            img(src='https://camo.githubusercontent.com/b607e16cc7b4c440cc43f7221fd757f5b705436b/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f6c2f73686f702e6a732e737667', alt='license', data-canonical-src='https://img.shields.io/npm/l/shop.js.svg', style='max-width:100%;')
        p
          | Shop.js is a complete set of reactive Ecommerce components powered
          | by El.js. With Hanzo, it can be easily integrated into any
          | website, no backend required.
        a.button(href='https://github.com/hanzo-io/shop.js')
          span Get on Github
        a.button(href='https://raw.githubusercontent.com/hanzo-io/shop.js/master/shop.min.js', download)
          span Download

    section.example.bootstrap
      .content
        h2
          | Getting Started
        .language
          pre
            code
        p.
          Include Shop.js in your project and configure your Hanzo API key.
          Integrating Shop.js components is as simple as inserting our custom
          tags into your existing HTML.

    section.example.example1.list.right
      .content
        h2
          | Cart
        .info
          .language
            pre
              code
          p.
            The Cart component can display items your customer has added to their
            order, show order subtotal and allow customers to input coupons.
            Try using <strong>GETSHOPJS</strong> to see how easy it is to apply
            a coupon to an order.
          button(onclick='addRedShirt()') Add Red Shirt
          button(onclick='addGreenShirt()') Add Green Shirt

        .image
          include examples/_cart.pug
        // p(data-height="300",data-theme-id="28315",data-slug-hash="bqKGLb",data-default-tab="result",data-user="hanzo-io",data-embed-version="2",data-pen-title="shop.js Example 1",class="codepen")
        //   | See the Pen
        //   a(href="https://codepen.io/hanzo-io/pen/bqKGLb/")
        //     | shop.js Example 1
        //   | by Hanzo (
        //   a(href="http://codepen.io/hanzo-io")
        //     | @hanzo-io) on
        //   a(href="http://codepen.io")
        //     | CodePen.
        // script(async,src="https://production-assets.codepen.io/assets/embed/ei.js")

    section.example.example2.list.left
      .content
        h2
          | Checkout
        .info
          .language
            pre
              code
          p.
            The Checkout component allow users to input credit card information to pay for
            their purchases.

        .image
          include examples/_checkout.pug
        // p(data-height="300",data-theme-id="28315",data-slug-hash="bqKGLb",data-default-tab="result",data-user="hanzo-io",data-embed-version="2",data-pen-title="shop.js Example 1",class="codepen")
        //   | See the Pen
        //   a(href="https://codepen.io/hanzo-io/pen/bqKGLb/")
        //     | shop.js Example 1
        //   | by Hanzo (
        //   a(href="http://codepen.io/hanzo-io")
        //     | @hanzo-io) on
        //   a(href="http://codepen.io")
        //     | CodePen.
        // script(async,src="https://production-assets.codepen.io/assets/embed/ei.js")

    section.example.example3
      .content
        h2
          | Side Cart
        .language
          pre
            code
        p.
          A Cart can be embedded in a side pane and opened by triggering a
          'side-pane-open' event with the id of the side pane element.

        button(onclick='openCart()')
          | Open the Side Cart
        // p(data-height="300",data-theme-id="28315",data-slug-hash="bqKGLb",data-default-tab="result",data-user="hanzo-io",data-embed-version="2",data-pen-title="shop.js Example 1",class="codepen")
        //   | See the Pen
        //   a(href="https://codepen.io/hanzo-io/pen/bqKGLb/")
        //     | shop.js Example 1
        //   | by Hanzo (
        //   a(href="http://codepen.io/hanzo-io")
        //     | @hanzo-io) on
        //   a(href="http://codepen.io")
        //     | CodePen.
        // script(async,src="https://production-assets.codepen.io/assets/embed/ei.js")

    section.example.example4
      .content
        h2
          | Checkout Modal
        .language
          pre
            code
        p.
          Shop.js includes a beautiful, fully responsive Checkout Modal
          component for getting started collecting payments quickly. Designed
          for crowdfunding launches, companies have collected millions of
          dollars using nothing more than this component.

        button(onclick='openModal()')
          | Open the Checkout Modal
        // p(data-height="300",data-theme-id="28315",data-slug-hash="bqKGLb",data-default-tab="result",data-user="hanzo-io",data-embed-version="2",data-pen-title="shop.js Example 1",class="codepen")
        //   | See the Pen
        //   a(href="https://codepen.io/hanzo-io/pen/bqKGLb/")
        //     | shop.js Example 1
        //   | by Hanzo (
        //   a(href="http://codepen.io/hanzo-io")
        //     | @hanzo-io) on
        //   a(href="http://codepen.io")
        //     | CodePen.
        // script(async,src="https://production-assets.codepen.io/assets/embed/ei.js")
        //
    section
      .content
        h2
          | Coming soon
        p.
          As we continue to open source more of Hanzo's built-in components,
          look forward to new components supporting product cards, search, user
          management and more.

    section.example.install
      .content
        h2
          | Installation
        .language
          pre
            code
