extends _layout.pug

block title
  | #{site.title} - One Library For All Your Ecommerce Needs

block content
  #page-index
    section#hero.hero
      .content.title
        h1 Shop.js
        h4
          strong One Library For All Your Ecommerce Needs
        p
          | shop.js is a collection of highly customizeable e-commerce UI
          | elements designed to support any checkout flow for Hanzo.
      // .content
      //   a.pre-order-button.button(href='#')
      //     span Try Now
    section.example.bootstrap
      .content
        h2
          | Getting Started
        .language
          pre
            code
        p.
          Include shop.js in your javascript and initialize using your Hanzo key
          to begin using it. Integrating shop.js Elements is as simple as inserting custom
          tags into your existing html page.


    section.example.example1.list.right
      .content
        h2
          | Carts
        .info
          .language
            pre
              code
          p.
            Carts display what items your customers have added to their carts,
            show customers theri totals, and allow customers to input coupons.
            In this example you case use the custom coupon <strong>GETSHOPJS</strong>.
          button(onclick='addRedShirt()') Add Red Shirt
          button(onclick='addGreenShirt()') Add Green Shirt

        .image
          include examples/_cart.pug
        // p(data-height="300",data-theme-id="28315",data-slug-hash="bqKGLb",data-default-tab="result",data-user="hanzo-io",data-embed-version="2",data-pen-title="shop.js Example 1",class="codepen")
        //   | See the Pen
        //   a(href="https://codepen.io/hanzo-io/pen/bqKGLb/")
        //     | shop.js Example 1
        //   | by Hanzo (
        //   a(href="http://codepen.io/hanzo-io")
        //     | @hanzo-io) on
        //   a(href="http://codepen.io")
        //     | CodePen.
        // script(async,src="https://production-assets.codepen.io/assets/embed/ei.js")

    section.example.example2.list.left
      .content
        h2
          | Checkout
        .info
          .language
            pre
              code
          p.
            Checkouts allow users to input credit card information to pay for
            their purchases.

        .image
          include examples/_checkout.pug
        // p(data-height="300",data-theme-id="28315",data-slug-hash="bqKGLb",data-default-tab="result",data-user="hanzo-io",data-embed-version="2",data-pen-title="shop.js Example 1",class="codepen")
        //   | See the Pen
        //   a(href="https://codepen.io/hanzo-io/pen/bqKGLb/")
        //     | shop.js Example 1
        //   | by Hanzo (
        //   a(href="http://codepen.io/hanzo-io")
        //     | @hanzo-io) on
        //   a(href="http://codepen.io")
        //     | CodePen.
        // script(async,src="https://production-assets.codepen.io/assets/embed/ei.js")

    section.example.example3
      .content
        h2
          | Side Cart
        .language
          pre
            code
        p.
          Carts can be embeded in a side pane and opened by triggering a
          'side-pane-open' even with the id of the side pane.

        button(onclick='openCart()')
          | Open the Side Cart
        // p(data-height="300",data-theme-id="28315",data-slug-hash="bqKGLb",data-default-tab="result",data-user="hanzo-io",data-embed-version="2",data-pen-title="shop.js Example 1",class="codepen")
        //   | See the Pen
        //   a(href="https://codepen.io/hanzo-io/pen/bqKGLb/")
        //     | shop.js Example 1
        //   | by Hanzo (
        //   a(href="http://codepen.io/hanzo-io")
        //     | @hanzo-io) on
        //   a(href="http://codepen.io")
        //     | CodePen.
        // script(async,src="https://production-assets.codepen.io/assets/embed/ei.js")

    section.example.example4
      .content
        h2
          | Checkout Modal
        .language
          pre
            code
        p.
          Shop.js includes a prebuilt responsive checkout modal for quickly
          dropping into your ecommerce site.  Start taking payments immediately
          while building out the rest of your online store.

        button(onclick='openModal()')
          | Open the Checkout Modal
        // p(data-height="300",data-theme-id="28315",data-slug-hash="bqKGLb",data-default-tab="result",data-user="hanzo-io",data-embed-version="2",data-pen-title="shop.js Example 1",class="codepen")
        //   | See the Pen
        //   a(href="https://codepen.io/hanzo-io/pen/bqKGLb/")
        //     | shop.js Example 1
        //   | by Hanzo (
        //   a(href="http://codepen.io/hanzo-io")
        //     | @hanzo-io) on
        //   a(href="http://codepen.io")
        //     | CodePen.
        // script(async,src="https://production-assets.codepen.io/assets/embed/ei.js")
        //
    section
      .content
        h2
          | And More!
        p.
          Over the upcoming months, Shop.js will start supporting product
          cards, store pages, user self-management and much, much, more!

    section.example.install
      .content
        h2
          | Installation
        .language
          pre
            code
